<style>
    .scene {
        margin: 1rem 0;
        perspective: 1000px;
        z-index: 1;
    }

    .cube {
        width: 150px;
        height: 150px;
        transform-style: preserve-3d;
        margin: 0 auto;
    }

    .animation {
        animation: moveCube 25s infinite ease-in-out;
    }

    @keyframes moveCube {
        0% {
            transform: rotateX( 0deg) rotateY( 0deg);
        }
        10% {
            transform: rotateX( 0deg) rotateY( 0deg);
        }
        100% {
            transform: rotateX(360deg) rotateY(360deg);
        }
    }

    .cube-face {
        position: absolute;
        width: 150px;
        height: 150px;
        border: 2px solid black;
        line-height: 150px;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .face-front,
    .face-right,
    .face-back,
    .face-left,
    .face-top,
    .face-bottom {
        background: hsla(0, 0%, 100%, 0.6);
    }

    .face-front {
        transform: rotateY( 0deg) translateZ(75px);
    }

    .face-right {
        transform: rotateY( 90deg) translateZ(75px);
    }

    .face-back {
        transform: rotateY(180deg) translateZ(75px);
    }

    .face-left {
        transform: rotateY(-90deg) translateZ(75px);
    }

    .face-top {
        transform: rotateX( 90deg) translateZ(75px);
    }

    .face-bottom {
        transform: rotateX(-90deg) translateZ(75px);
    }
</style>
<div class="scene">
    <div class="cube animation">
        <div class="cube-face face-front">FRONT</div>
        <div class="cube-face face-right">RIGHT</div>
        <div class="cube-face face-back">BACK</div>
        <div class="cube-face face-left">LEFT</div>
        <div class="cube-face face-top">TOP</div>
        <div class="cube-face face-bottom">BOTTOM</div>
    </div>
</div>

<div class="container col-10 text-justify mb-3">
    <p>Je vais vous présenter le travail de David DeSandro sur la création de volumes en 3D avec CSS. </p>
    <p>Bien que la 3D existe depuis longtemps dans le web avec canvas, Three.js (anciennement WebGL) ou encore notre défunt Flash.
        Depuis 2009, les développeurs peuvent profiter du module de transformation CSS 3D.
        ce fut un soulagement pour les front-end qui, jusqu'alors, s'armaient de patience à la maîtrise d'un langage tiers pour donner ne serait-ce qu'un peu de volume à leur site.</p>
    <p>Ce tutoriel, vous propose le cheminement de construction d'un volume 3D, étape par étape.
        En commençant par une simple perspective d'une surface plane jusqu'à un carrousel 3D interactif.
        Ici, pas de chipotage, il va à l'essentiel et, pour les plus flemmards d'entre nous, un CodePen est fourni à chaque étape.</p>
    <p>Sans plus attendre, voici le lien vers ce tutoriel, aussi intéressant qu'enrichissant et qui, une fois maîtrisé, vous donnera un panel de perspectives pour votre site.</p>
    <a href="https://3dtransforms.desandro.com/" target="_blank">https://3dtransforms.desandro.com/</a>
    <p>Bon code.</p>
</div>