<style>
    .scene {
        margin: 1rem 0;
        perspective: 1000px;
        z-index: 1;
    }

    .cube {
        width: 150px;
        height: 150px;
        transform-style: preserve-3d;
        margin: 0 auto;
    }

    .animation {
        animation: moveCube 25s infinite ease-in-out;
    }

    @keyframes moveCube {
        0% {
            transform: rotateX( 0deg) rotateY( 0deg);
        }
        10% {
            transform: rotateX( 0deg) rotateY( 0deg);
        }
        100% {
            transform: rotateX(360deg) rotateY(360deg);
        }
    }

    .cube-face {
        position: absolute;
        width: 150px;
        height: 150px;
        border: 2px solid black;
        line-height: 150px;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .face-front,
    .face-right,
    .face-back,
    .face-left,
    .face-top,
    .face-bottom {
        background: hsla(0, 0%, 100%, 0.6);
    }

    .face-front {
        transform: rotateY( 0deg) translateZ(75px);
    }

    .face-right {
        transform: rotateY( 90deg) translateZ(75px);
    }

    .face-back {
        transform: rotateY(180deg) translateZ(75px);
    }

    .face-left {
        transform: rotateY(-90deg) translateZ(75px);
    }

    .face-top {
        transform: rotateX( 90deg) translateZ(75px);
    }

    .face-bottom {
        transform: rotateX(-90deg) translateZ(75px);
    }
</style>
<div class="scene">
    <div class="cube animation">
        <div class="cube-face face-front">FRONT</div>
        <div class="cube-face face-right">RIGHT</div>
        <div class="cube-face face-back">BACK</div>
        <div class="cube-face face-left">LEFT</div>
        <div class="cube-face face-top">TOP</div>
        <div class="cube-face face-bottom">BOTTOM</div>
    </div>
</div>

<div class="container col-10 text-justify mb-3">
    <p>I present to you David DeSandro's work on 3D volume with CSS.</p>
    <p>3D exists since a long time in the web with canvas, Three.js (WebGL) or Flash.
        Since 2009, developers have 3D CSS transformation module.
        This is a revival for front-ends who until then were learning a third language to give some volume to their
        site.</p>
    <p>This tutorial will introduce a step by step construction of a 3D volume.
        The beginning is a simple representation of an interactive 3D carousel.</p>
    <p>Here is the link for the tutorial.  Once mastered, it will give you a new perspective for your site.</p>
    <a href="https://3dtransforms.desandro.com/" target="_blank">https://3dtransforms.desandro.com/</a>
    <p>Good coding.</p>
</div>