<div class="scene">
    <div class="cube animation">
        <div class="cube-face face-front">FRONT</div>
        <div class="cube-face face-right">RIGHT</div>
        <div class="cube-face face-back">BACK</div>
        <div class="cube-face face-left">LEFT</div>
        <div class="cube-face face-top">TOP</div>
        <div class="cube-face face-bottom">BOTTOM</div>
    </div>
</div>

<div class="article">
    <p>I present you David DeSandro's work on 3D volume with CSS.</p>
    <p>3D exists since a long time in the web with canvas, Three.js (WebGL) or Flash.
        Since 2009, developers have 3D CSS transformation module.
        This is a revival for front-ends who until then were learning a third language to give some volume to their
        site.</p>
    <p>This tutorial, proposes you the construction of a 3D volume, step by step.
        The beginning is a simple perspective to an interactive 3D carousel.</p>
    <p>Here is the link of the tutorial. Once mastered, it will give you a new perspective for your site.</p>

    <a href="https://3dtransforms.desandro.com/">https://3dtransforms.desandro.com/</a>

    <p>Good code.</p>
</div>